<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="dashboard">
        <div class="weather-card">
            <div class="location"></div>
            <div class="temperature">

            </div>
            <div class="details">
                <div class="windSpeed">Vento: </div>
                <div class="humidity">Umidade: </div>
                <div class="rainVolume">Chuva: </div>
            </div>
        </div>
        <div class="info-card">
            <div class="title">Qualidade do ar</div>
            <div class="airQuality"></div>
        </div>
        <div class="info-card">
            <div class="title">Horário do sol</div>
            <div class="sunsetTime">17:48</div>
        </div>
    </div>
    <script src="/script.js"></script>
</body>

</html>